* {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #ffffff;
}

.titulo {
  display: flex;
  background-color: black;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-around;
}

.titulo a {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo img {
  height: 40px;
}

.premium {
  background-color: #1E90FF;
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  padding-left: 25rem;
  align-items: center;
  justify-content: right;
  color: #ffffff;
  font-size: 40px;
}

.premium2 {
  background-color: #1E90FF;
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
  padding-left: 25rem;
  align-items: center;
  justify-content: right;
  color: #ffffff;
  font-size: 30px;
}

.container-fluid {
  background: #1E90FF;
  display: flex;
  padding-top: 4rem;
  padding-bottom: 10rem;
  justify-content: space-evenly;
}

.container-fluid a {
  background-color: black;
  font-size: 20px;
  color: #ffffff;
  padding: 1rem;
  border: 2px solid;
}