* {
  margin: 0px;
  padding: 0px;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 1.2rem;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header span {
  font-size: 40px;
  color: #ffffff;
}

img {
  height: 4rem;  
}

.header {
  background: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}


.menu li {
  margin-left: 10px;
}

.menu li a {
  padding: 10px;
}

.premium {
  background-color: #4169E1;
  padding: 90px 350px;
}

.premium h1 {
  color: #ffffff;
  font-size: 40px;
  margin-top: -30px;
}

.premium p {
  color: white;
  margin-bottom: 3rem;
}

.premium button {
  border-radius: 25px;
  height: 3rem;
  width: 10rem;
  background-color: #1d1e20;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.5);
  text-shadow: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.termos {
  margin-top: 4rem;
  font-size: 15px;
}

.termos span {
  text-decoration: underline;
}

.serpremium h2 {
  text-align: center;
  font-size: 60px;
}

.img > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img img {
  height: 350px;
  background-color: #ffffff;
}

.pagamento > h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 60px;
  margin-bottom: 0;
}

.pagamento > p {
  display: flex;
  text-align: center;
  justify-content: center;
}

.logos > section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos img {
  height: 25px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.paragrafo a {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  left: 195px;
  bottom: 20px;
  color: #1d1e20;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
  margin-left: 0px;
  margin-right: 16px;
  margin-top: 0px;
  max-width: 400px;
  overflow-wrap: break-word;
  padding-bottom: 16px;
  padding-inline-start: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  text-align: left;
  width: 237px;
}

.container h3 {
  font-size: 18px;
  background-color: #4169E1;
  border-radius: 5px;
}

.container p {
  font-size: 16px;
}

.container > button {
  border-radius: 25px;
  height: 3rem;
  width: 10rem;
  background-color: #1d1e20;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.5);
  text-shadow: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}