* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

header {
  display: flex;
  padding: 20px;
  align-items: center;
  background: black;
  justify-content: space-around;
}

.logo a {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 40px;
  font-family: sans-serif;
}

img {
  height: 50px;
}

.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu p {
  color: #ffffff;
}

.menu a {
  color: #ffffff;
  margin: 25px;
  font-size: 20px;
  font-family: sans-serif;
}

.menu a:hover {
  color: #7CFC00;
  transform: 3s ease-in-out; 
}

.premium {
  display: flex;
  background: #1E90FF;
  padding: 100px;
}

.premium h1 {
  padding-left: 13rem;
  color: #ffffff;
  font-size: 40px;
  padding-bottom: 1rem;
}

.premium h2 {
  padding-left: 13rem;
  color: #ffffff;
  padding-bottom: 3rem;
}

.botao1 {
  margin-left: 13rem;
  background: black;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
  height: 3rem;
  width: 13rem;
  margin-bottom: 2rem;
  border-radius: 18px;
  cursor: pointer;
}

.botao2 {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-family: sans-serif;
  height: 3rem;
  width: 13rem;
  border-radius: 18px;
  cursor: pointer; 
}

.botao2:hover {
  background: rgba(0, 0, 0, 0.1);
  transform: 3s ease-in-out; 
}

.premium a {
  color: #ffffff;
  text-decoration: underline;
}

.premium p {
  margin-left: 13rem;
  font-size: 15px;
  font-family: sans-serif;
}

.premium2 {
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.premium2 h1 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 50px;
  font-family: sans-serif;
}

.premium2 img {
margin-left: 15rem;
height: 210px;
}

.premium3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.premium3 h1 {
  color: black;
  font-size: 50px;
  font-family: sans-serif;
}

.premium3 p {
  color: black;
  padding-top: 1rem;
  font-size: 20px;
}

.imagens {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagens img {
  height: 1.5rem;
  margin-top: 1rem;
}

.imagens a {
  margin-top: 2rem;
  color: black;
  text-decoration: underline;
}

.planos {
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
  margin: 0px 16px 0px 0px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  margin-top: 5rem;
  width: 250px;
  height: 950px;
  text-align: left;
  font-family: sans-serif;
}

.planos .um {
  background: #1E90FF;
  border-radius: 5px;
  width: 180px;
  height: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.planos .dois {
  padding-bottom: 1rem;
}

.planos h1 {
  padding-bottom: 1rem;
}

.planos .tres {
  padding-bottom: 1rem;
}

.planos .quatro {
  padding-top: 1rem;
  margin-bottom: 5rem;
}

button {
  background: black;
  color: #ffffff;
  height: 3rem;
  width: 10rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  cursor: pointer;
}