* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

header {
  display: flex;
  padding: 20px;
  align-items: center;
  background: black;
  justify-content: space-around;
}

.logo a {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 40px;
  font-family: sans-serif;
}

img {
  height: 50px;
}

.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu p {
  color: #ffffff;
}

.menu a {
  color: #ffffff;
  margin: 25px;
  font-size: 20px;
  font-family: sans-serif;
}

.menu a:hover {
  color: #7CFC00;
  transform: 3s ease-in-out; 
}

.premium {
  display: flex;
  height: 100%;
  width: 100%;
  background: #1E90FF;
  padding: 100px;
  
}

.premium h1 {
  padding-left: 13rem;
  color: #ffffff;
  font-size: 40px;
  padding-bottom: 1rem;
}

.premium h2 {
  padding-left: 13rem;
  color: #ffffff;
  padding-bottom: 3rem;
}

.botao1 {
  margin-left: 13rem;
  background: black;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  font-family: sans-serif;
  height: 3rem;
  width: 13rem;
  margin-bottom: 2rem;
  border-radius: 18px;
  cursor: pointer;
}

.botao2 {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-family: sans-serif;
  height: 3rem;
  width: 13rem;
  border-radius: 18px;
  cursor: pointer; 
}

.botao2:hover {
  background: rgba(0, 0, 0, 0.1);
  transform: 3s ease-in-out; 
}

.premium a {
  color: #ffffff;
  text-decoration: underline;
}

.premium p {
  margin-left: 13rem;
  font-size: 15px;
  font-family: sans-serif;
}

.premium2 h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 50px;
}

.premium2 img {
  display: flex;
  
}