body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.header span {
  font-size: 40px;
  color: #ffffff;
}

img {
  height: 4rem;
  align-items: center;
  justify-content: center;
}

.header {
  background: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
}


.menu li {
  margin-left: 10px;
}

.menu li a {
  padding: 10px;
}

.premium {
  background-color: #4169E1;
  padding: 90px 350px;
}

.premium h2 {
  color: #ffffff;
  font-size: 40px;
  margin-top: -30px;
}

.premium p {
  color: white;
  margin-bottom: 3rem;
}

.premium button {
  border-radius: 25px;
  height: 3rem;
  width: 8rem;
  background-color: #1d1e20;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.5);
  text-shadow: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.termos {
  margin-top: 4rem;
  font-size: 15px;
}

.termos span {
  text-decoration: underline;
}